*{
    box-sizing: border-box;
}

body {
    max-width: 40em;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 30px;
    background-color: #fff;
    color: #000;
    display: block;
}

section#masthead {
    margin-top: 1em;
    margin-bottom: 1em;
}

section#masthead h1 {
    font-size: 3em;
    margin: 0px;
}

h1 {
    line-height: 1em;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    font-style: normal;
    display: block;
}

main {
    display: block;
}

section {
    display: block;
    margin-bottom: 4em;
}

h2 {
    margin-top: 2em;
    line-height: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    display: block;
    font-size: 1.8em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    color: #27484A;
    text-decoration: none;
    word-wrap: break-word;
}

a:-webkit-any() {
    cursor: pointer;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body#home main ul {
    padding-left: 0em;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

body#home main ul li {
    list-style-type: none;
}

li { 
    display: list-item;
    text-align: -webkit-match-parent;
}

body#home main h2 small {
    margin-left: 2em;
}

small {
    font-size: 0.6em;
    color: #666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-style: normal;
}

div.blogparent {
    font-size: 1.2em;
    margin: 0;
    display: block;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img {
    display: block;
    width: 100%;
    height: auto;
}

.cell {
    flex: 1;
    position: relative;
    height: 250px;
    width: 150px;
    margin-bottom: 50px;
}

.book-cover {
    border-radius: 4px;
    padding: 0px;
    height: 250px;
    width: 150px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #27484A;
    overflow: hidden;
    height: 250px;
    width: 150px;
    border-radius: 4px;
    height: 0;
    transition: .5s ease;
}

.cell:hover .overlay {
    height: 100%;
}

.text a {
    white-space: nowrap;
    color: white;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#comments {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    justify-content: space-between;
    gap: 10px;
    width: 50%;
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}